<html  lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stalker App Version 1</title>


    <link rel="stylesheet" href="/static/zurb/css/foundation.css" />
    <script src="/static/zurb/js/modernizr.js"></script>
    <script src="/static/zurb/js/jquery.js"></script>

    {% block style %}
    
    {% endblock %}

    {% block topmatter %}
    {%endblock%}
  </head>
  <body>

    <nav class="top-bar" data-topbbar>
      <section class="top-bar-section">
	<ul class="title-area">
	  <li class="name"><h1><a href="#">Stalker App - Version 1</a></h1></li>
	  <li><a href="/track">Track</a></li>
	  <li><a href="/stalk">Stalk</a></li>
	</ul>
	<ul class="right">
	  <li><a href="/logout">Logout</a></li>
	</ul>
      </section>
    </nav>

    <div class="row">
      <div class="large-12 columns">
        <h1>Stalker App version 1</h1>
      </div>
    </div>
    
    {% block content %}    
    hello   
    {% endblock %}

    <script src="/static/zurb/js/foundation.min.js"></script>
    <script>
     $(document).foundation();
    </script>
    
  </body>
</html>
